{% extends 'base.nav.parent.html.twig' %}

{% block title %}Datele Mele{% endblock %}

{% block body %}

  <div class="myaccount-settings-wrapper">

    <h1 class="coinyFont"><i class="fas fa-user fa-fw"></i> Modifică date personale</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div id="message">
    <div style="padding: 5px;">
        <div id="inner-message" class="alert alert-success fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
    </div>
    </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
    <div id="message">
    <div style="padding: 5px;">
        <div id="inner-message" class="alert alert-danger fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
    </div>
    </div>
    {% endfor %}

    {{ form_start(form) }}
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
          {{ form_label(form.lastName) }}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user-tie fa-fw"></i></span>
            </div>
            {{ form_widget(form.lastName) }}
          </div>
          <code>{{ form_errors(form.lastName) }}</code>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
          {{ form_label(form.firstName) }}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
            </div>
            {{ form_widget(form.firstName) }}
          </div>
          <code>{{ form_errors(form.firstName) }}</code>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
          {{ form_label(form.email) }}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-at fa-fw"></i></span>
            </div>
            {{ form_widget(form.email) }}
          </div>
          <code>{{ form_errors(form.email) }}</code>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
          {{ form_label(form.phoneNo) }}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone fa-fw"></i></span>
            </div>
            {{ form_widget(form.phoneNo) }}
          </div>
          <code>{{ form_errors(form.phoneNo) }}</code>
          </div>
        </div>
        <div class="col-12 col-sm-6" id="firstPass" onclick="ShowFunction('');return false;">
          <div class="form-group">
          {{ form_label(form.password.first) }}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key fa-fw"></i></span>
            </div>
            {{ form_widget(form.password.first) }}
          </div>
          <code>{{ form_errors(form.password.first) }}</code>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <!-- leave this div empty -->
        </div>
        <div class="col-12 col-sm-6" id="secondPass">
          {{ form_label(form.password.second) }}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key fa-flip-horizontal fa-fw"></i></span>
            </div>
            {{ form_widget(form.password.second) }}
          </div>
          <center><button class="btn btn-sm btn-danger" onclick="HideFunction('');return false;"><i class="fas fa-key fa-fw"></i>Anulează Modificare Parolă</button></center>
        </div>
        <div class="col-12 col-sm-6" id="secondPassCancel">
          <!-- leave this div empty -->
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
          {{ form_label(form.secondaryEmail) }}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-at fa-fw"></i></span>
            </div>
            {{ form_widget(form.secondaryEmail) }}
          </div>
          <code>{{ form_errors(form.secondaryEmail) }}</code>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          {{ form_label(form.notifySecond) }} <br>
          {{ form_widget(form.notifySecond[0]) }} {{ form_label(form.notifySecond[0]) }}<br>
          {{ form_widget(form.notifySecond[1]) }} {{ form_label(form.notifySecond[1]) }} <br>
          <code>{{ form_errors(form.notifySecond) }}</code>
        </div>
        <div class="col-6 col-md-4" onclick="customInvoicing('');">
          {{ form_label(form.customInvoicing) }} <br>
          {{ form_widget(form.customInvoicing[0]) }} {{ form_label(form.customInvoicing[0]) }}<br>
          {{ form_widget(form.customInvoicing[1]) }} {{ form_label(form.customInvoicing[1]) }} <br>
          <code>{{ form_errors(form.customInvoicing) }}</code>
        </div>
        <div class="col-6 col-md-4" id="isCompany" onclick="formInvoicing('');">
          {{ form_label(form.isCompany) }} <br>
          {{ form_widget(form.isCompany[0]) }} {{ form_label(form.isCompany[0]) }}<br>
          {{ form_widget(form.isCompany[1]) }} {{ form_label(form.isCompany[1]) }} <br>
          <code>{{ form_errors(form.isCompany) }}</code>
        </div>
        <div class="col-12">
        <div class= "row" id="customInvoicing">
          <div class="col-12 col-sm-6">
            <div class="form-group">
            {# form_label(form.invoicingName) #}
            {% if app.user.isCompany == false %}
            <label id="nameLabel">Nume</label>
            {% else %}
            <label id="nameLabel">Denumire Firmă</label>
            {% endif %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-address-card fa-fw"></i></span>
              </div>
              {{ form_widget(form.invoicingName) }}
            </div>
            <code>{{ form_errors(form.invoicingName) }}</code>
            </div>
          </div>
          <div class="col-12 col-sm-6" id="invoicingIdent">
            <div class="form-group">
            {{ form_label(form.invoicingIdent) }}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-terminal fa-fw"></i></span>
              </div>
              {{ form_widget(form.invoicingIdent) }}
            </div>
            <code>{{ form_errors(form.invoicingIdent) }}</code>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
            {{ form_label(form.invoicingAddress) }}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-map-marker-alt fa-fw"></i></span>
              </div>
              {{ form_widget(form.invoicingAddress) }}
            </div>
            <code>{{ form_errors(form.invoicingAddress) }}</code>
            </div>
          </div>
          <div class="col-12 col-sm-6" id="invoicingCompanyReg">
            <div class="form-group">
            {{ form_label(form.invoicingCompanyReg) }}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-building fa-fw"></i></span>
              </div>
              {{ form_widget(form.invoicingCompanyReg) }}
            </div>
            <code>{{ form_errors(form.invoicingCompanyReg) }}</code>
            </div>
          </div>
          <div class="col-12 col-sm-6" id="invoicingCompanyFiscal">
            <div class="form-group">
            {{ form_label(form.invoicingCompanyFiscal) }}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-building fa-fw"></i></span>
              </div>
              {{ form_widget(form.invoicingCompanyFiscal) }}
            </div>
            <code>{{ form_errors(form.invoicingCompanyFiscal) }}</code>
            </div>
          </div>
        </div>
        </div>

    </div>
  <br>
  <button class="btn btn-success mt-3"><i class="fas fa-angle-double-up"></i> Actualizează</button>

  {{ form_end(form) }}
  </div>

  <hr>
  {% include('home/myaccount.terms.cond.html.twig') %}

{% endblock %}

{% block javascripts %}
<script>
  ScrollReveal({ reset: true }).reveal('.myaccount-settings-wrapper', { duration:800, delay:0 });
  ScrollReveal({ reset: true }).reveal('.indexParentHolder2', { duration:1500, delay:0 });

  document.getElementById('user_myaccount_password_first').disabled = true;
  document.getElementById('user_myaccount_password_second').disabled = true;

  function ShowFunction() {
    if (document.getElementById('secondPass').style.maxHeight == "0px" ||
        document.getElementById('secondPass').style.maxHeight == 0) {
      document.getElementById('secondPass').style.maxHeight = "150px";
      document.getElementById('secondPassCancel').style.maxHeight = "100px";
      document.getElementById('user_myaccount_password_first').disabled = false;
      document.getElementById('user_myaccount_password_second').disabled = false;
      //console.log('it\'s OK!');
    } else {
      //document.getElementById('secondPass').hidden = true;
      //console.log('it\'s OK Combo!');
      //Do nothing!
    }
  }

  function HideFunction() {
    if (document.getElementById('secondPass').style.maxHeight != "0px") {
      document.getElementById('secondPass').style.maxHeight = "0px";
      document.getElementById('secondPassCancel').style.maxHeight = "0px";
      document.getElementById('user_myaccount_password_first').disabled = true;
      document.getElementById('user_myaccount_password_second').disabled = true;
      //console.log('it\'s OK!');
    } else {
      //document.getElementById('secondPass').hidden = true;
      //console.log('it\'s OK Combo!');
      //Do nothing!
    }
  }

  function customInvoicing() {
    if ($('#user_myaccount_customInvoicing_0').is(":checked")) {
      $('#customInvoicing').css('max-height', '0px');
      $('#isCompany').css('max-height', '0px');
    } else if ($('#user_myaccount_customInvoicing_1').is(":checked")) {
      $('#customInvoicing').css('max-height', '500px');
      $('#isCompany').css('max-height', '100px');
    }
  }

  function formInvoicing() {
    if ($('#user_myaccount_isCompany_0').is(":checked")) {
      $('#invoicingIdent').css('max-height', '100px');
      $('#invoicingCompanyReg').css('max-height', '0px');
      $('#invoicingCompanyFiscal').css('max-height', '0px');
      $('#nameLabel').html('Nume');
    } else if ($('#user_myaccount_isCompany_1').is(":checked")) {
      $('#invoicingIdent').css('max-height', '0px');
      $('#invoicingCompanyReg').css('max-height', '100px');
      $('#invoicingCompanyFiscal').css('max-height', '100px');
      $('#nameLabel').html('Denumire Firmă');
    }
  }

  customInvoicing();

  formInvoicing();


</script>
{% endblock %}
