{% extends 'base.nav.parent.html.twig' %}

{% block title %}Opționale{% endblock %}

{% block body %}
    <h2 class="coinyFont"><i class="fas fa-book-reader fa-fw"></i> Prezențe opționale</h2>
    <br>
    <strong>Instrucțiuni: </strong>Prezențele la opționale sunt sortate descrescător. Simbolul <span style="color:#060;"><i class="fas fa-check fa-fw"></i></span>
    indică prezența în data respectivă, iar simbolul <strong><span style="color:#600;"><i class="fas fa-times fa-fw"></i></span></strong>
    indică absența.
    <br><br>
    {% set kids = app.user.getGuardianacc.getChildren %}
    {% set count = 0 %}
    <strong>Atenție: </strong> Aceste date sunt actualizate periodic. Vă rugăm să așteptați 1 săptămână în cazul în care prezențele nu au fost actualizate.
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div id="message">
    <div style="padding: 5px;">
        <div id="inner-message" class="alert alert-success fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
    </div>
    </div>
    {% endfor %}
    <br>
    <div class="row">
    {% set holderColors = ['holderBlue','holderYellow','holderGreen','holderRed'] %}
    {% set i = 0 %}
    {% if kids|length > 0 %}
      {% for kid in kids %}
        {% if kid.getChildLatestEnroll.getId is not null %}
        {% set student = kid.getChildLatestEnroll.getStudent %}
        {# get all Enrollments if an existing enrollment is present #}
        {% set studentEnrollments = kid.getEnrollmentsChild|reverse(true) %}
          <div class="col-12">
            <div class="indexParentHolder {{ holderColors[i] }}">
              <h2 class="kuraleFont"><i class="fas fa-user-graduate fa-fw"></i> {{ kid.getRoName }}</h2>
              <hr>
              <b>Unitate școlară: </b>{{ kid.getChildLatestEnroll.getIdUnit.getUnitname }}
              <br><br>
              <b>Serviciu: </b>{{ kid.getChildLatestEnroll.getIdService.getServicename }}
              {% if studentEnrollments|length > 1 %}
                <br>
                <b>Ani precedenți: </b>
                {% for prevEnroll in studentEnrollments|slice(1) %}
                  <a href="#">
                    <button style="vertical-align: text-bottom;" class="btn-sm btn btn-info mt-3" disabled>
                      <i class="fas fa-angle-double-up"></i> {{ prevEnroll.getIdUnit.getUnitname }}
                    </button>
                  </a>
                {% endfor %}
                <br><h5><b><code>Funcționalitate ani precedenți - temporar suspendată</code></b></h5>
              {% endif %}
              <hr>
              
              {% for optional in student.getClassOptionals %}
                <h4 class="kuraleFont">{{ optional.getOptionalName }}</h4>
                <div style="height:3px;"></div>
                <div class="columns3">
                <table>
                {% for schedule in optional.getDescOptionalSchedules %}
                  {% if date(schedule.getScheduledDateTime) <= date() %}
                    {% for attendance in schedule.getOptionalsAttendances %}
                      {% if attendance.getStudent == student %}
                        <tr>
                          <td>
                            {{ schedule.getScheduledDateTime|localizeddate('short','none','RO') }}
                          </td>
                          <td>
                            {{ schedule.getScheduledDateTime|localizeddate('none','short','RO') }}
                          </td>
                          <td>
                            {% if attendance.hasAttended == 1 %}
                              <strong><span style="color:#060;"><i class="fas fa-check fa-fw"></i></span></strong>  <br>
                            {% else %}
                              <strong><span style="color:#600;"><i class="fas fa-times fa-fw"></i></span></strong>  <br>
                            {% endif %}
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                </table>
                </div>
                <hr>
              {% endfor %}

            </div>
          </div>
          {# SUPPORTS UP TO 4 CHILDREN #}
          {% set i = i + 1 %}
        {% endif %}
      {% endfor %}
      {% if i == 0 %}
        <p>Nu aveți niciun elev înscris! Vă rugăm să ne contactați telefonic pentru mai multe detalii.</p>
      {% endif %}
    {% endif %}
    </div>

    <hr>
    {% include('home/myaccount.terms.cond.html.twig') %}

{% endblock %}

{% block javascripts %}
  <script>
    ScrollReveal({ reset: true }).reveal('.indexParentHolder', { duration:800, delay:0 });
    ScrollReveal({ reset: true }).reveal('.indexParentHolder2', { duration:1500, delay:50 });
  </script>
{% endblock %}
