{% extends 'base.nav.html.twig' %}

{% block title %}Configurare An Școlar{% endblock %}

{% block body %}

<div class="school-wrapper">
    <h1>An în desfășurare - {{ school_year }}! ✅</h1>

    {{ dump() }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
      <input type="submit" class="btn btn-success mt-3" value="Actualizează">
    {{ form_end(form) }}

</div>
{% endblock %}
