{% extends 'base.nav.html.twig' %}

{% block title %}Configurare An Școlar{% endblock %}

{% block body %}

<div class="school-wrapper">
    <h1>An în desfășurare - {{ school_year }}! ✅</h1>

    {# dump() #}

    {{ form_start(form) }}
      <div class="row">
        <div class="col-12">
          {{ form_row(form.yearLabel) }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          {{ form_row(form.startDate) }}
        </div>
        <div class="col-6">
          {{ form_row(form.endDate) }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-auto">
          {{ form_label(form.is_perm_activity) }}
          {{ form_errors(form.is_perm_activity) }}
        </div>
        <div class="col-auto">
          <div class="double">
            {{ form_widget(form.is_perm_activity) }}
          </div>
          {{ form_help(form.is_perm_activity) }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 col-sm-10 col-md-6 col-lg-6">
          {{ form_row(form.license) }}
          <br>
        </div>

        <div class="col-12 col-sm-10 col-md-6 col-lg-6">
          {{ form_row(form.license_status) }}
        </div>
      </div>
      <!-- <input type="submit" class="btn btn-success mt-3" value="Actualizează"> -->
      <button class="btn btn-success mt-3"><i class="fas fa-angle-double-up"></i> Actualizează</button>

    {{ form_end(form) }}

    <a href="{{ path('school_units') }}">
      <button class="btn btn-warning mt-3" label=""><i class="fas fa-box"></i> Unități Școlare</button>
    </a>
    <a href="{{ path('school_services') }}">
      <button class="btn btn-primary mt-3"><i class="fas fa-box"></i> Servicii An Școlar</button>
    </a>
    <hr>

    <h2>Noul An Școlar</h2>
    {% if next_years is not empty %}
      <table id="nextyears" class="table table-striped table-hover">

        <thead>
          <tr>
            <th>An școlar</th>
            <th>Data de început / sfârșit</th>
            <th>Status Licență</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for next_year in next_years %}
            <tr>
              <td><a href="{{path('school_year_setup', {'id':next_year.id}) }}"><i class="fa fa-eye"></i> {{ next_year.yearlabel }}</a></td>
              <td>{{ next_year.startDate|localizeddate('medium', 'none', 'ro') }} / {{ next_year.endDate|localizeddate('medium', 'none', 'ro') }}</td>
              <td>{{ next_year.licenseStatus }}</td>
              <td>
                <a href="{{ path('school_year_view', {'id':next_year.id}) }}"><button type="button" class="btn btn-primary">Editează</button></a>
                <a href="#"><button type="button" class="btn btn-danger delete-year" data-id="{{ next_year.id }}">Șterge</button></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
      {% else %}
        <p>Puteți adăuga un nou an școlar utilizând butonul <strong>"Adaugă Licență"</strong></p>
        <hr>
      {% endif %}
    <a href="{{ path('school_year_new') }}">
      <button class="btn btn-primary mt-3"><i class="fas fa-plus"></i> Adaugă Licență</button>
    </a>
    <hr>

    <h2>Ani Școlari Trecuți</h2>
    {% if prev_years is not empty %}
      <table id="prevyears" class="table table-striped table-hover">

        <thead>
          <tr>
            <th>An școlar</th>
            <th>Data de început</th>
            <th>Data de sfârșit</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for prev_year in prev_years %}
            <tr>
              <td>{{ prev_year.yearlabel }}</td>
              <td>{{ prev_year.startDate|localizeddate('medium', 'none', 'ro') }}</td>
              <td>{{ prev_year.endDate|localizeddate('medium', 'none', 'ro') }}</td>
              <td>
                <a href="#"><button type="button" class="btn btn-primary">Vizualizează</button></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
      {% else %}
        <p>Nu există date istorice.</strong></p>
        <hr>
      {% endif %}

</div>
{% endblock %}

{% block javascripts %}
  <script src="/js/schoolyear_delete.js"></script>
  <!-- <script src="{{ asset('js/schoolyear_delete.js') }}"></script> -->
{% endblock %}
