{% extends 'base.nav.html.twig' %}

{% block title %}Configurare An Școlar{% endblock %}

{% block body %}

<div class="school-wrapper">
    <h1>PAS 1: Unități Școlare </h1>
    <h3>{{ prev_year.yearLabel }} -> {{ school_year.yearlabel }}!</h3>
    <hr>
    <p>Importul trebuie făcut înainte de {{ prev_year.endDate|localizeddate() }}</p>

    <br>

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <br>
      <div id="message">
        <div style="padding: 5px;">
          <div id="inner-message" class="alert alert-success fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage|nl2br }}
          </div>
        </div>
      </div>
    {% endfor %}

    <br>

    <table class="table">
      <thead class="thead-dark">
        <th>
          Unitate Existentă
        </th>
        <th colspan="2">
          Import?
        </th>
        <th>
          Unitate Nouă
        </th>
        <th>
          Începutul activității
        </th>
        <th colspan="2">
          Terminarea activității
        </th>
        <th>
          Locuri Disponibile
        </th>
      </thead>
      <tbody>
        {% set i = 0 %}
        {{ form_start(form) }}
        {% for f in form.units %}
          <tr>
            <td>
              <h5>{{ existing_units[i].unitname }}</h5>
            </td>
            <td colspan="2">
              {{ form_widget(f.isImport[0]) }} {{ form_label(f.isImport[0]) }} <br>
              {{ form_widget(f.isImport[1]) }} {{ form_label(f.isImport[1]) }}
            </td>
            <td>
              {{ form_widget(f.unitName) }}
            </td>
            <td>
              {{ form_widget(f.startDate) }}
            </td>
            <td colspan="2">
              {{ form_widget(f.endDate) }}
            </td>
            <td>
              {{ form_widget(f.availableSpots) }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              {{ form_label(f.firstInvoiceSerial) }} {{ form_widget(f.firstInvoiceSerial) }}
            </td>
            <td colspan="2">
              {{ form_label(f.firstInvoiceNumber) }} {{ form_widget(f.firstInvoiceNumber) }}
            </td>
            <td colspan="2">
              {{ form_label(f.firstReceiptSerial) }} {{ form_widget(f.firstReceiptSerial) }}
            </td>
            <td colspan="2">
              {{ form_label(f.firstReceiptNumber) }} {{ form_widget(f.firstReceiptNumber) }}
            </td>
          </tr>
          <tr>
            <td colspan="8" style="border-bottom:4px solid black;">
              {{ form_label(f.description) }} {{ form_widget(f.description) }}
            </td>
          </tr>
          {% set i = i + 1 %}
        {% endfor %}
        <tr>
          <td colspan=6 style="text-align:center;">
            <button class="btn btn-primary" type="submit"><i class="fas fa-cloud-upload-alt"></i> Importă Unitățile</button>
          </td>
        </tr>
        {{ form_end(form) }}
      </tbody>
    </table>

</div>

{% endblock %}


{% block javascripts %}
  <!-- jscripts here -->
{% endblock %}
