{% extends 'base.nav.html.twig' %}

{% block title %}Modificare {{ pay_item.getItemName }}{% endblock %}

{% block body %}

  <div class="enrollment-wrapper">
    <h2>{{ student.getUser.getFullName(1)|title }}</h2>
    <h4>{{ month_year|localizeddate('none','none','ro', null, 'MMMM, yyyy') }}</h4>
    <br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
      <input type="submit" class="btn btn-success mt-3" value="Modifică">
    {{ form_end(form) }}
  </div>

{% endblock %}
