{% extends 'base.nav.html.twig' %}

{% block title %}Conturi Curente{% endblock %}

{% block body %}

  <div class="enrollment-wrapper">
    <h2>{{ student.getUser.getFullName(1)|title }}</h2>
    <h4>{{ month_year|localizeddate('none','none','ro', null, 'MMMM, yyyy') }}</h4>
    <a href="{{ path('accounts_stud', {'studId':student.id}) }}">
      <i class="fas fa-chevron-circle-left"></i> Vezi calendar
    </a>
    <br><br>
    {% if month_account is empty %}
      <p>Contul din această lună nu a fost generat!</p>
      {% if (student.getEnrollment.getEnrollDate > last_day_of_month) %}
        <a href="{{ path('accounts_stud_month_generate', {'monthYear':(month_year|localizeddate('none','none','ro', null, 'yyyy-MM')), 'studId':student.id}) }}">
          <button disabled>Generează</button>
        </a>
        <br>
        <code>Elevul nu a fost înscris în această lună!</code>
      {% else %}
        <a href="{{ path('accounts_stud_month_generate', {'monthYear':(month_year|localizeddate('none','none','ro', null, 'yyyy-MM')), 'studId':student.id}) }}">
          <button>Generează</button>
        </a>
      {% endif %}

    {% else %}
      <table id="paymentitems" class="table table-striped table-hover">

        <thead>
          <tr>
            <th>Nr.</th>
            <th>Prod.</th>
            <th>Cant.</th>
            <th style="text-align:right;">Preț</th>
            <th style="text-align:center;">Mod</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% set i = 0 %}
          {% for payItem in month_account.getPaymentItems %}
            {% if not('(***)' in payItem.getItemName) %}
            <tr>
              {% set i = i + 1 %}
              <td>{{ i }}{% if payItem.getIsInvoiced == 1 %}*{% endif %}</td>
              <td>{{ payItem.getItemName }}</td>
              <td>x{{ payItem.getItemCount }}</td>
              <td style="text-align:right;">{{ payItem.getItemPrice|localizedcurrency('RON') }}</td>
              <td>
                {% if payItem.getIsEdited == 0 %}
                  <i class="fas fa-check" style='color:#0f0'></i>
                {% else %}
                  <i class="fas fa-book-open" style='color:#f00'></i>
                {% endif %}
                (<a href="{{ path('accounts_item_modify', {'itemId':payItem.id}) }}" style="text-decoration: underline;">Modifică</a>)
              </td>
              <td>
                {% if (payItem.getAccountInvoice is not empty) %}
                  {% if (payItem.getAccountInvoice.getIsLocked) %}
                    <button disabled><i class="fas fa-trash-alt"></i></button>
                  {% else %}
                      <button type="button" class="delete-account-item" data-id="{{ payItem.getId }}">
                        <i class="fas fa-trash-alt" style="pointer-events: none;"></i>
                      </button>
                  {% endif %}
                {% else %}
                    <button type="button" class="delete-account-item" data-id="{{ payItem.getId }}">
                      <i class="fas fa-trash-alt" style="pointer-events: none;"></i>
                    </button>
                {% endif %}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
          {% set i = i + 1 %}
            <tr id="monthaccount">
              <td style="color:#999">{{ i }}</td>
              <td>
                <a href="{{ path ('accounts_item_add', {'monthAccId':month_account.id}) }}">
                  <button><i class="fas fa-plus"></i> Adaugă</button>
                </a>
                <a href="{{ path ('account_invoices', {'accId':month_account.id}) }}">
                  <button><i class="far fa-file-alt"></i> Documente Fiscale</button>
                </a>
              </td>
              <td colspan="2"></td>
              <td colspan="2">
                <a href="#">
                  {% if month_account.getAccountInvoices|length  == 0 %}
                    <button type="button" class="regenerate-account" data-id="{{ month_account.id }}">
                      <i class="fas fa-trash-alt"></i> Șterge TOT
                    </button>
                  {% else %}
                    <button title="Există facturi! Trebuie șterse pentru a reseta contul." disabled>
                      <i class="fas fa-trash-alt"></i> Șterge TOT
                    </button><br>
                  {% endif %}
                </a>
              </td>
            </tr>
        </tbody>

      </table>


      <br>

      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:80%">TOTAL:</th>
            <th style="width:20%">{{ month_account.getTotalPrice|localizedcurrency('RON') }}</th>
          </tr>
          {% if month_account.getTotalPaid > 0 %}
          <tr>
            <th>Total Plătit:</th>
            <th>{{ month_account.getTotalPaid|localizedcurrency('RON') }}</th>
          </tr>
          {% endif %}
          {% set remainingPay = 0 %}
          {% for prevMonthAcc in student.getMonthAccounts %}
            {% if prevMonthAcc.getAccYearMonth < month_account.getAccYearMonth %}
              {% set remainingPay = remainingPay + prevMonthAcc.totalPrice - prevMonthAcc.totalPaid %}
            {% endif %}
          {% endfor %}
          <tr>
            <!-- TODO Add logic to invoice previously not invoiced items -->
            <td>SOLD PRECEDENT:</td>
            <td>{{ remainingPay|localizedcurrency('RON') }}</td>
          </tr>
          <tr>
            <td>REST DE PLATĂ:</td>
            <td>{{ (remainingPay + month_account.getTotalPrice - month_account.getTotalPaid)|localizedcurrency('RON') }}</td>
          </tr>
          {% if month_account.getAdvanceBalance != 0 %}
          <tr style="color:#060; font-weight:bold;">
            <td>Disponibil in cont:</td>
            <td>{{ month_account.getAdvanceBalance|localizedcurrency('RON') }}</td>
          </tr>
          {% endif %}
        </thead>

      </table>

    {% endif %}


  </div>

{% endblock %}

{% block javascripts %}
  <script src="/js/payitem_delete.js"></script>
  <script src="/js/month_acc_regen.js"></script>
{% endblock %}
