<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Factura Nr. {{ invoice.getInvoiceSerial ~ '-' ~ "%03d"|format(invoice.getInvoiceNumber) }}</title>

    <link rel="stylesheet" href="{{ app.request.scheme ~ '://' ~ app.request.host }}{{ asset('css/invoice_pdf.css') }}">
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td class="title">
                    <img src="{{ app.request.scheme ~ '://' ~ app.request.host }}{{ asset('img/logo.planeta.copiilor.png') }}" style="height:100%; max-height:160px;">
                </td>

                <td style="vertical-align:middle;">
                    {% if invoice.isProforma %}
                      <h2>FACTURĂ PROFORMA</h2>
                    {% else %}
                      <h2>FACTURĂ FISCALĂ</h2>
                    {% endif %}
                    <hr>
                    Seria {{ invoice.getInvoiceSerial }} nr {{ "%03d"|format(invoice.getInvoiceNumber) }} <br>
                    Data emiterii: {{ invoice.getInvoiceDate|localizeddate('short', 'none') }}<br>
                    Data Scadentă: {{ invoice.getInvoiceDate|date_modify("+1 week")|localizeddate('short', 'none') }}
                    <hr>

                </td>
            </tr>

            <tr class="information">
                <td style="vertical-align:bottom;">
                    <!-- TODO Add logic to schoolunit invoicing variables which have yet to be created when writing this logic -->
                    {% if 'scoala' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                    or 'școala' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                    or 'școală' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower) %}
                      <strong>Școala „Planeta Copiilor”</strong><br>
                      CIF: RO35271177<br>
                    {% elseif 'gradinita' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                    or 'grădinița' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                    or 'grădiniță' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower) %}
                      <strong>Grădinița „Planeta Copiilor”</strong><br>
                      CIF: RO32066470<br>
                    {% else %}
                      <strong>„Planeta Copiilor”</strong><br>
                    {% endif %}
                    Strada Gabriela Szabo nr. 3 – 11<br>
                    Militari, Sector 6<br>
                    București <br>
                    <br>
                    Tel 1: 0724.212.887 <br>
                    Tel 2: 0731.406.879
                </td>

                {% if invoice.getPayeeName is not empty %}
                <td style="vertical-align:top;">
                    Elev:<br>
                    {{ invoice.getMonthAccount.getStudent.getUser.getRoName }}<br>
                    <br>
                    {% if invoice.getPayeeIsCompany == false %}
                      Detalii Facturare: <br>
                      Nume: {{ invoice.getPayeeName }}<br>
                      CNP: {{ invoice.getPayeeIdent|default('-') }}<br>
                      Adresă: {{ invoice.getPayeeAddress|default('-') }}<br>
                      <br>
                      {% if 'scoala' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                      or 'școala' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                      or 'școală' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower) %}
                        Cont: RO11 BTRL RONC RT03 3357 1401 <br>
                        Banca: TRANSILVANIA <br>
                      {% elseif 'gradinita' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                      or 'grădinița' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                      or 'grădiniță' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower) %}
                        Cont: RO56 BTRL RONC RT04 1362 7601 <br>
                        Banca: TRANSILVANIA <br>
                      {% else %}
                        {# do nothing #}
                      {% endif %}
                    {% else %}
                      Denumire Firmă: {{ invoice.getPayeeName }}<br>
                      Adresă: {{ invoice.getPayeeAddress }}<br>
                      Reg Com: {{ invoice.getPayeeCompanyReg|default('-') }}<br>
                      CIF: {{ invoice.getPayeeCompanyFiscal|default('-') }}<br>
                      <br>
                      {% if 'scoala' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                      or 'școala' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                      or 'școală' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower) %}
                        Cont: RO11 BTRL RONC RT03 3357 1401 <br>
                        Banca: TRANSILVANIA <br>
                      {% elseif 'gradinita' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                      or 'grădinița' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower)
                      or 'grădiniță' in (invoice.getMonthAccount.getStudent.getSchoolUnit.getUnitname|lower) %}
                        Cont: RO56 BTRL RONC RT04 1362 7601 <br>
                        Banca: TRANSILVANIA <br>
                      {% else %}
                        {# do nothing #}
                      {% endif %}
                    {% endif %}
                </td>
                {% else %}
                <td style="vertical-align:top;">
                    Elev:<br>
                    {{ invoice.getMonthAccount.getStudent.getUser.getRoName }}<br>
                    <br>
                    Contact:<br>
                    {{ invoice.getMonthAccount.getStudent.getUser.getGuardian.getUser.getRoName }}<br>
                    {{ invoice.getMonthAccount.getStudent.getUser.getGuardian.getUser.getEmail }}<br>
                    {{ invoice.getMonthAccount.getStudent.getUser.getGuardian.getUser.getPhoneNo }}
                </td>
                {% endif %}
            </tr>

            <!-- <tr class="heading">
                <td>
                    Metodă de plată
                </td>

                <td>
                     Check #
                </td>
            </tr>

            <tr class="details">
                <td>
                    Virament Bancar IBAN-xxxx-xxxx
                </td>

                <td>
                    1000
                </td>
            </tr> -->
          </table>

          <table>
            <tr class="heading">
                <td style="max-width:20px;">
                  <small>Nr. crt</small>
                </td>

                <td>
                    Denumire Produs/Serviciu
                </td>

                <td style="width:15px;">
                    Cant.
                </td>

                <td style="width:26%;">
                    Preț
                </td>
            </tr>

            {% set noOfItems = invoice.getPaymentItems.count %}
            {% set index = 0 %}
            {% for payItem in invoice.getPaymentItems %}
              {% if index < (noOfItems - 1) %}
              <tr class="item">
              {% else %}
              <tr class="item last">
              {% endif %}
                  <td>
                    {{ index + 1 }}
                  </td>

                  <td>
                      {{ payItem.getItemName|trim('(***)') }}
                  </td>

                  <td>
                      x{{ payItem.getItemCount }}
                  </td>

                  <td>
                      {{ (payItem.getItemPrice * payItem.getItemCount)|localizedcurrency('RON') }}
                  </td>
              </tr>
            {% set index = index + 1 %}
            {% endfor %}

            <tr class="total">
                <td></td>
                <td style="border-top: 1px dashed #eee;">Întocmit de: <br>
                  <table>
                    <tr width=100%>
                      <td>
                        {% if invoice.getCreatedBy %}
                          {{ invoice.getCreatedBy.getRoName }} <br>
                          {% if invoice.getCreatedBy.getInvoicingIdent %}
                            {{ invoice.getCreatedBy.getInvoicingIdent }}
                          {% endif %}
                        {% else %}
                          -<br>
                          -<br>
                        {% endif %}
                      </td>
                      <td></td>
                    </tr>
                  </table>
                </td>
                <td></td>

                <td>
                   Total: {{ invoice.getInvoiceTotal|localizedcurrency('RON') }}
                </td>
            </tr>

            <tr>
              <td colspan="4" align="right">
                <small>Factura circulă fără semnătură și ștampilă conform codului fiscal, art. 319, alin.29.</small>
              </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
