{% extends 'base.nav.html.twig' %}

{% block title %}Administrare Servicii{% endblock %}

{% block body %}
    {% if school_units is not empty %}
      {% for school_unit in school_units %}
      <div class="row">
        <div class="col-auto">
          <h2>Servicii pentru {{ school_unit.unitname|lower }}</h2>
        </div>
        <div class="col">
        <a href="{{ path('school_service_add_to_unit', {'id':school_unit.id }) }}">
          <button class="btn btn-success"><i class="fas fa-plus"></i></button>
        </a>
        </div>
        </div>
        {% if school_unit.schoolservices is not empty %}
          <table id="schoolservices-{{ school_unit.id }}" class="table table-striped table-hover">

            <thead>
              <tr>
                <th>Nume Serviciu</th>
                <th>Descriere</th>
                <th>Preț</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {% for schoolservice in school_unit.schoolservices %}
                <tr>
                  <td>{{ schoolservice.servicename }}</td>
                  <td>{{ schoolservice.servicedescription }}</td>
                  <td>{{ schoolservice.serviceprice|localizedcurrency('RON') }}</td>
                  <td>
                    <a href="{{ path('school_service_edit', {'id':schoolservice.id}) }}"><button type="button" class="btn btn-primary">Editează</button></a>
                    <a href="#"><button type="button" class="btn btn-danger delete-service" data-id="{{ schoolservice.id }}">Șterge</button></a>

                  </td>
                </tr>
              {% endfor %}

            </tbody>

          </table>
        {% else %}
          <p>Nu există nici un serviciu definit.</p>
          <hr>
        {% endif %}

      {% endfor %}
    {% else %}
      <p>Nu există nici o unitate de învățământ definită.</p>
      <!-- TODO Add button to create a new school unit -->
    {% endif %}
    <br>
    {% if school_units is not empty and school_year.getIsSetupComplete == 0 %}
      <a href="{{path('school_year_setup', {'id':school_year.id}) }}">
        <button class="btn btn-warning mt-3"><i class="fas fa-angle-double-left"></i> Înapoi la Import</button>
      </a>
    {% endif %}
    <a href="{{ path('school_service_add_to_currentYear') }}">
      <button class="btn btn-success mt-3"><i class="fas fa-plus"></i> Adaugă Serviciu</button>
    </a>
{% endblock %}

{% block javascripts %}
  <script src="/js/schoolservice_delete.js"></script>
  <!-- <script src="{{ asset('js/schoolservice_delete.js') }}"></script> -->
{% endblock %}
