{% extends 'base.nav.html.twig' %}

{% block title %}Toate Grupele{% endblock %}

{% block body %}

    <h2 class="coinyFont">
      Grupe Școlare - {{ school_year.yearname }}
    </h2>
    {% if school_year.getIsSetupComplete == 0 %}
      <a href="{{path('school_year_setup', {'id':school_year.id}) }}">
        <button class="btn btn-warning"><i class="fas fa-angle-double-left"></i> Înapoi la Import</button>
      </a>
      <br><br>
    {% endif %}
    <br>

    {% for schoolunit in school_units %}
      <div class="row">
        <div class="col-auto">
          <a href="{{ path('class_groups_new', {'unitId':schoolunit.id }) }}">
            <button class="btn-sm btn-success"><i class="fas fa-plus"></i></button>
          </a>
        </div>
        <div class="col-auto">
          <h3 class="coinyFont">Grupe {{ schoolunit.unitname|lower }}</h3>
        </div>
      </div>
      {% if schoolunit.getClassGroups is empty %}
        <p>Nu există nicio grupă definită pentru această unitate școlară.</p>
        <hr>
      {% else %}
        <div class="row">
        {% for classgroup in schoolunit.getClassGroups %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="indexParentHolder holderWhite">
              <a href="{{ path('class_group_edit', {'id':classgroup.id}) }}"><i class="far fa-edit"></i></a> <h2 style="display:inline;" class="kuraleFont">{{ classgroup.getGroupName }}</h2>
              <hr>
              <table id="classgroup_holder">
                <tbody>
                  <tr>
                    <td>
                      <strong><i class="fas fa-chalkboard-teacher fa-fw"></i></strong>
                    </td>
                    <td>
                      {{ classgroup.getProfessor.getFullName(1) }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong><i class="fas fa-users fa-fw"></i></i></strong>
                    </td>
                    <td class="kuraleFont">
                      <h3>{{ classgroup.getStudents|length }} <small>elevi</small></h3>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <div class="row"> -->
                <!-- <div class="col-6"> -->
                <center>
                <a href="{{ path('class_group_view', {'groupId':classgroup.id }) }}">
                  <button class="btn-sm btn-block btn-success btn-max-width">Detalii</button>
                </a>
                <!-- </div> -->
                <div style="height:3px"></div>
                <!-- <div class="col-6"> -->
                <a href="{{ path('class_group_enroll', {'groupId':classgroup.id, 'yearId':school_year.id }) }}">
                  <button class="btn-sm btn-block btn-primary btn-max-width">Înscrieri</button>
                </a>
                </center>
                <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        {% endfor %}
        </div>
        <hr>
        <br>
      {% endif %}

    {% endfor %}

{% endblock %}

{% block javascripts %}
  <script>
    ScrollReveal({ reset: true }).reveal('.indexParentHolder', { duration:1500, delay:50 });
  </script>
{% endblock %}
