{% extends 'base.nav.html.twig' %}

{% block title %}{{ class_group.getGroupName }}{% endblock %}

{% block body %}

  <h2>{{ class_group.getGroupName }}</h2>
  <br>
  {% if students is not empty %}
    <table class="class-group-details-wrap show-links">
      <thead>
        <tr>
          <th>Nr.</th>
          <th>Nume</th>
          <th>Elev</th>
          <th>Înscriere</th>
          <th>Părinte</th>
        </tr>
      </thead>
      <tbody>
      {% set counter = 0 %}
      {% for student in students %}
          {% set counter = counter + 1 %}
          <tr>
            <td>
              {{ counter }}
            </td>
            <td style="padding-right:30px">
              {{ student.getUser.getFullName(1) }}
            </td>
            <td>
              <a href="{{ path('user_edit',{
                      'id':student.getUser.getId,
                      'redirect':'class_group',
                      'studId':student.getId
              }) }}"> Detalii
              </a>
            </td>
            <td>
              {{ student.getEnrollment.getIdService.getServicename }}
              <a href="{{ path('edit_enrollment', {
                    'enrollId':student.getEnrollment.getId,
                    'redirect':'class_group',
                    'studId':student.getId
              }) }}">Modifică</a>
            </td>
            <td>
              {% set guardian = student.getUser.getGuardian %}
              {% if guardian is not empty %}
              <i class="fas fa-eye"></i> <a href="{{ path('user_edit',{
                      'id':guardian.getUser.getId,
                      'redirect':'class_group',
                      'studId':student.getId
              }) }}">
                {{ guardian.getUser.getRoName }}
              </a>
              {% else %}
                Nu există un părinte asociat.
              {% endif %}
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    <br>
  {% else %}
    <p>Nu există elevi înscriși în această clasă</p>
    <br>
  {% endif %}
  <a href="{{ path('class_groups_by_year', {'id':class_group.getSchoolUnit.getSchoolyear.id }) }}">
    <button class="btn btn-warning"><i class="fas fa-angle-double-left"></i> Înapoi</button>
  </a>
  <a href="{{ path('class_group_enroll', {'groupId':class_group.id, 'redirect':'group', 'yearId':class_group.getSchoolUnit.getSchoolyear.id }) }}">
    <button class="btn btn-primary"><i class="fas fa-user-friends"></i> Înscrieri</button>
  </a>
{% endblock %}
