{% extends 'base.nav.html.twig' %}

{% block title %}Opționale -> Program{% endblock %}

{% block body %}
    <h2 class="coinyFont">Program {{ the_optional.getOptionalName }}</h2>
    <br>
    {% if schedules is empty %}
      <p>Nu există niciun program definit pentru acest opțional! </p>
    {% else %}
      <ul>
        {% for schedule in schedules %}
          <li>
            {{ schedule.getScheduledDateTime|localizeddate('medium', 'short', 'ro') }}
            (<a href="{{ path('optional_schedule_edit', {'id':schedule.id }) }}", style="text-decoration:underline;">Modifică</a>)
            {% if schedule.getScheduledDateTime > date() %}
              (<a href="{{ path('optional_schedule_remove', {'id':schedule.id }) }}", style="text-decoration:underline;">Șterge</a>)
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <br>
    <a href="{{ path('optional_schedule_add', {'id':the_optional.id }) }}"><button type="button" class="btn btn-success">Adaugă</button></a>
{% endblock %}
