{% extends 'base.nav.html.twig' %}

{% block title %}Administrare Opționale{% endblock %}

{% block body %}

    <h1>Opționale {{ current_year.getYearlabel|lower }}</h1>
    <br>
    {% if current_units is not empty %}
      {% for schoolunit in current_units %}
        <div class="row">
          <div class="col-auto">
            <h2>Opționale {{ schoolunit.unitname|lower }} </h2>
          </div>
          <div class="col">
          <a href="{{ path('class_optional_new', {'unitId':schoolunit.id }) }}">
            <button class="btn btn-success"><i class="fas fa-plus"></i></button>
          </a>
          </div>
        </div>
        {% if schoolunit.getClassOptionals is empty %}
          <p>Nu există niciun opțional definit în această unitate</p>
        {% else %}
          <table id="optionals-{{ schoolunit.id }}" class="table table-striped table-hover">

            <thead>
              <tr>
                <th>Nume Opțional</th>
                <th>Descriere</th>
                <th>Preț</th>
                <th>Elevi Înscriși</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {% for optional in schoolunit.getClassOptionals %}
                <tr>
                  <td>{{ optional.getOptionalName }}</td>
                  <td>{{ optional.getDescription }}</td>
                  <td>{{ optional.getPrice|localizedcurrency('RON') }}</td>
                  <td>{{ optional.getStudents|length }}</td>
                  <td>
                    <a href="{{ path('class_optional_students', {'id':optional.id }) }}"><button type="button" class="btn btn-success">Înscrieri</button></a>
                    <a href="{{ path('optional_schedule', {'id':optional.id }) }}"><button type="button" class="btn btn-primary">Program</button></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>

          </table>
          <br>
        {% endif %}
      {% endfor %}
    {% endif %}

{% endblock %}
