<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">

  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <span> Navigație</span>
    </button>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ path ('logout') }}">Logout</a>
      </li>

      <!-- <li class="nav-item">
        <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('img/smedu.png') }}" alt="Logo"></a>
      </li> -->
    </ul>
    <!-- Brand - user image -->
    <!-- <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('img/smedu.png') }}" alt="Logo"></a> -->
  </div>
</nav>
