<nav id="sidebarParent">
  <div id="sidebar">
    <div class="sidebar-header">
        <h3>iTeachSmart</h3>
        <strong>iTS</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="{{ path('index') }}">
                <i class="fas fa-home"></i>
                Panou Control
            </a>
        </li>
        <br>
        <li>
            <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-users"></i>
                Utilizatori
            </a>
            <ul class="collapse list-unstyled" id="userSubmenu">
              <li>
                  <a href="{{ path('users') }}">Toți Utilizatorii</a>
              </li>
              <li>
                  <a href="{{ path('user_new') }}">Adaugă Utilizator</a>
              </li>
              <li>
                  <a href="#">Rapoarte</a>
              </li>
            </ul>
        </li>
        <li>
          <a href="#enrollSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-address-card"></i>
              Înscrieri
          </a>
          <ul class="collapse list-unstyled" id="enrollSubmenu">
            <li>
                <a href="{{ path('enrollment') }}">Status Înscrieri</a>
            </li>
            <li>
                <a href="{{ path('all_enrollments') }}">Toate Înscrierile</a>
            </li>
          </ul>
        </li>
        <li>
            <a href="#groupsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Grupe
            </a>
            <ul class="collapse list-unstyled" id="groupsSubmenu">
                <li>
                    <a href="{{ path('class_groups') }}">Toate Grupele</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#modulesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Module
            </a>
            <ul class="collapse list-unstyled" id="modulesSubmenu">
                <li>
                    <a href="{{ path('class_modules') }}">Toate Modulele</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#optionalsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Opționale
            </a>
            <ul class="collapse list-unstyled" id="optionalsSubmenu">
                <li>
                    <a href="{{ path('class_optionals') }}">Listă Opționale</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#catalogueSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Catalog
            </a>
            <ul class="collapse list-unstyled" id="catalogueSubmenu">
                <li>
                    <a href="{{ path('attendance') }}">Prezențe</a>
                </li>
                <li>
                    <a href="#">Note</a>
                </li>
                <li>
                    <a href="#">Permisiuni</a>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <a href="#paySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-coins"></i>
                Financiar
            </a>
            <ul class="collapse list-unstyled" id="paySubmenu">
                <li>
                    <a href="#">Panou ansamblu</a>
                </li>
                <li>
                    <a href="#">Generare documente</a>
                </li>
                <li>
                    <a href="#">Plăți</a>
                </li>
                <li>
                    <a href="#">Rapoarte/Statistici</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#transportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-truck"></i>
                Transport
            </a>
            <ul class="collapse list-unstyled" id="transportSubmenu">
                <li>
                    <a href="#">Înscrieri</a>
                </li>
                <li>
                    <a href="#">Rute</a>
                </li>
                <li>
                    <a href="#">Setări</a>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <a href="{{ path('school_year') }}">
                <i class="fas fa-cog"></i>
                Setări
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                Despre Sistem
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Termeni de Utilizare</a>
        </li>
        <li>
            <a href="#" class="article">Asistență Tehnică</a>
        </li>
    </ul>

  </div>
</nav>
