<nav id="sidebarParent">
  <div id="sidebar">
    <div class="sidebar-header">
        <h3>SmEDU Sidebar</h3>
        <strong>SS</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="{{ path('index') }}">
                <i class="fas fa-home"></i>
                Panou Control
            </a>
        </li>
        <br>
        <li>
            <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-users"></i>
                Utilizatori
            </a>
            <ul class="collapse list-unstyled" id="userSubmenu">
              <li>
                  <a href="{{ path('users') }}">Toți Utilizatorii</a>
              </li>
              <li>
                  <a href="{{ path('user_new') }}">Adaugă Utilizator</a>
              </li>
              <li>
                  <a href="#">Rapoarte</a>
              </li>
            </ul>
        </li>
        <li>
          <a href="{{ path('enrollment') }}">
            <i class="fas fa-address-card"></i>
            Înscrieri
          </a>
        </li>
        <li>
            <a href="#groupsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Grupe
            </a>
            <ul class="collapse list-unstyled" id="groupsSubmenu">
                <li>
                    <a href="#">Toate Grupele</a>
                </li>
                <li>
                    <a href="#">Grupe Unitate 1</a>
                </li>
                <li>
                    <a href="#">Grupe Unitate 2</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#modulesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Module
            </a>
            <ul class="collapse list-unstyled" id="modulesSubmenu">
                <li>
                    <a href="#">Toate Modulele</a>
                </li>
                <li>
                    <a href="#">Module Unitate 1</a>
                </li>
                <li>
                    <a href="#">Module Unitate 2</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#optionalsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Opționale
            </a>
            <ul class="collapse list-unstyled" id="optionalsSubmenu">
                <li>
                    <a href="#">Toate Opționalele</a>
                </li>
                <li>
                    <a href="#">Adaugă Opțional</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <a href="#paySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-coins"></i>
                Plăți
            </a>
            <ul class="collapse list-unstyled" id="paySubmenu">
                <li>
                    <a href="#">Plăți Curente</a>
                </li>
                <li>
                    <a href="#">În desfășurare</a>
                </li>
                <li>
                    <a href="#">Notificări</a>
                </li>
                <li>
                    <a href="#">Rapoarte/Statistici</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#transportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-truck"></i>
                Transport
            </a>
            <ul class="collapse list-unstyled" id="transportSubmenu">
                <li>
                    <a href="#">Submeniu 1</a>
                </li>
                <li>
                    <a href="#">Submeniu 2</a>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <a href="{{ path('school_year') }}">
                <i class="fas fa-cog"></i>
                Setări
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                Despre Sistem
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Termeni de Utilizare</a>
        </li>
        <li>
            <a href="#" class="article">Asistență Tehnică</a>
        </li>
    </ul>

  </div>
</nav>
