<nav id="sidebarParent">
  <div id="sidebar">
    <div class="sidebar-header">
        <h3>iTeachSmart</h3>
        <strong>iTS</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="{{ path('index') }}">
                <span style="align:center"><i class="fas fa-home fa-fw"></i></span>
                <span style="align:center">Panou Control</span>
            </a>
        </li>
        <br>

        <!-- Permission variable declare -->
        {% set showUsers = true %}
        {% set showEnrolls = true %}
        {% set showClassGroups = true %}
        {% set showClassModules = true %}
        {% set showClassOptionals = true %}
        {% set showCatalogue = true %}
        {% set showMonthAccounts = true %}
        {% set showTransport = true %}
        {% set showSchoolYear = true %}


        <!-- permissions set for custom permissions -->
        {% if app.user.getUsertype == 'ROLE_CUSTOM' %}

          <!-- Custom Permission variable declare -->
          {% set showUsers = false %}
          {% set showEnrolls = false %}
          {% set showClassGroups = false %}
          {% set showClassModules = false %}
          {% set showClassOptionals = false %}
          {% set showCatalogue = false %}
          {% set showMonthAccounts = false %}
          {% set showTransport = false %}
          {% set showSchoolYear = false %}

          {% for permission in app.user.getAccountPermissions %}
            {% if permission.name == 'users' %}
              {% set showUsers = true %}
            {% endif %}
            {% if permission.name == 'enrolls' %}
              {% set showEnrolls = true %}
            {% endif %}
            {% if permission.name == 'classGroups' %}
              {% set showClassGroups = true %}
            {% endif %}
            {% if permission.name == 'classModules' %}
              {% set showClassModules = true %}
            {% endif %}
            {% if permission.name == 'classOptionals' %}
              {% set showClassOptionals = true %}
            {% endif %}
            {% if permission.name == 'catalogue' %}
              {% set showCatalogue = true %}
            {% endif %}
            {% if permission.name == 'monthAccounts' %}
              {% set showMonthAccounts = true %}
            {% endif %}
            {% if permission.name == 'transport' %}
              {% set showTransport = true %}
            {% endif %}
            {% if permission.name == 'schoolYear' %}
              {% set showSchoolYear = false %}
            {% endif %}

          {% endfor %}
        {% endif %}

        {% if showUsers %}
        <li>
            <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span style="align:center"><i class="fas fa-users-cog fa-fw"></i></span>
                Utilizatori
            </a>
            <ul class="collapse list-unstyled" id="userSubmenu">
              <li>
                  <a href="{{ path('users') }}">Toți Utilizatorii</a>
              </li>
              <li>
                  <a href="{{ path('users', {type:'students'}) }}">Elevi</a>
              </li>
              <li>
                  <a href="{{ path('users', {type:'parents'}) }}">Părinți</a>
              </li>
              <li>
                  <a href="{{ path('users', {type:'professors'}) }}">Profesori</a>
              </li>
              <li>
                <a href="{{ path('users', {type:'managers'}) }}">Manageri</a>
              </li>
              <li>
                  <a href="{{ path('users', {type:'admins'}) }}">Administratori</a>
              </li>
              <li>
                  <a href="{{ path('user_new') }}">Adaugă Utilizator</a>
              </li>
              <!-- <li>
                  <a href="#">Rapoarte</a>
              </li> -->
            </ul>
        </li>
        {% endif %}
        {% if showEnrolls %}
        <li>
          <a href="#enrollSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <span style="align:center"><i class="fas fa-address-card fa-fw"></i></span>
              <span style="align:center">Înscrieri</span>
          </a>
          <ul class="collapse list-unstyled" id="enrollSubmenu">
            <li>
                <a href="{{ path('enroll_wizard') }}">Înscriere Nouă</a>
            </li>
            <li>
                <a href="{{ path('all_enrollments') }}">Toate Înscrierile</a>
            </li>
            <li>
                <a href="{{ path('enrollment') }}">Statistici Înscrieri</a>
            </li>
          </ul>
        </li>
        {% endif %}
        {% if showClassGroups %}
        <li>
            <a href="#groupsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span style="align:center"><i class="fas fa-user-graduate fa-fw"></i></span>
                <span style="align:center">Grupe</span>
            </a>
            <ul class="collapse list-unstyled" id="groupsSubmenu">
                <li>
                    <a href="{{ path('class_groups') }}">Toate Grupele</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if showClassModules %}
        <li>
            <a href="#modulesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span style="align:center"><i class="fas fa-book-open fa-fw"></i></span>
                Materii
            </a>
            <ul class="collapse list-unstyled" id="modulesSubmenu">
                <li>
                    <a href="{{ path('class_modules') }}">Toate Materiile</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if showClassOptionals %}
        <li>
            <a href="#optionalsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span style="align:center"><i class="fas fa-book-reader fa-fw"></i></span>
                Opționale
            </a>
            <ul class="collapse list-unstyled" id="optionalsSubmenu">
                <li>
                    <a href="{{ path('class_optionals') }}">Listă Opționale</a>
                </li>
                <li>
                    <a href="#">Rapoarte</a>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if showCatalogue %}
        <li>
            <a href="#catalogueSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span style="align:center"><i class="fas fa-file-alt fa-fw"></i></span>
                Catalog
            </a>
            <ul class="collapse list-unstyled" id="catalogueSubmenu">
                <li>
                    <a href="{{ path('attendance') }}">Prezențe</a>
                </li>
                <li>
                    <a href="#">Note</a>
                </li>
                <li>
                  <a href="{{ path('manual_mods') }}">Modificare Catalog</a>
                </li>
            </ul>
        </li>
        {% endif %}
        <br>
        {% if showMonthAccounts %}
        <li>
            <a href="#paySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span style="align:center"><i class="fas fa-coins fa-fw"></i></span>
                Financiar
            </a>
            <ul class="collapse list-unstyled" id="paySubmenu">
                <li>
                    <a href="#">Panou ansamblu</a>
                </li>
                <li>
                    <a href="{{ path('accounts') }}">Conturi</a>
                </li>
                <li>
                    <a href="{{ path('invoices') }}">Conturi / Grupe</a>
                </li>
                <li>
                  <a href="{{ path('payments') }}">Plăți</a>
                </li>
                <li>
                    <a href="{{ path('smart_generate') }}">Generare Conturi</a>
                </li>
                <li>
                    <a href="#">Rapoarte/Statistici</a>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if showTransport %}
        <li>
            <a href="#transportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span style="align:center"><i class="fas fa-truck fa-fw"></i></span>
                Transport
            </a>
            <ul class="collapse list-unstyled" id="transportSubmenu">
                <li>
                    <a href="{{ path('routes') }}">Rute</a>
                </li>
                <li>
                    <a href="{{ path('trips') }}">Drumuri</a>
                </li>
                <li>
                    <a href="#">Setări</a>
                </li>
            </ul>
        </li>
        {% endif %}
        <br>
        {% if showSchoolYear %}
        <li>
            <a href="{{ path('school_year') }}">
                <span style="align:center"><i class="fas fa-cog fa-fw"></i></span>
                Setări
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#">
                <span style="align:center"><i class="fas fa-briefcase fa-fw"></i></span>
                Despre Sistem
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Termeni de Utilizare</a>
        </li>
        <li>
            <a href="#" class="article">Asistență Tehnică</a>
        </li>
    </ul>

  </div>
</nav>
