{% extends 'base.nav.html.twig' %}

{% block title %} Înscriere Familie Nouă {% endblock %}

{% block extrastylesheets %}
	<link type="text/css" rel="stylesheet" href="{{ asset('css/buttons.css') }}" />
{% endblock %}

{% block body %}

<div class="show-links">
<div class="row">

	<div class="col-12 col-md-8">
	<!-- <br> -->
	{{ form_start(form) }}
		<!-- <code>{# form_errors(form) #}</code> -->

		{% if flow.getCurrentStepNumber() == 1 %}
			<div>
				<h3 class="kuraleFont">Adaugă Părinte?</h3>
				Dacă părintele are un elev înscris în unitate, <br>
				te rugăm să alegi opțiunea: <strong>NU</strong> <br><br>
				{% for f in form.addGuardian %}
					{{ form_widget(f) }} {{ form_label(f) }} <br>
				{% endfor %}
				<br>
				Dacă părintele este deja înregistrat, alege-l din următoarea listă:
				<br>
				{# form_label(form.guardian) #} {{ form_widget(form.guardian) }}
			</div>
		{% endif %}

		{% if flow.getCurrentStepNumber() == 2 %}
			<div>
				<h3 class="kuraleFont">Adaugă cont părinte:</h3>
				{# form_row(form.newGuardian) #}
				{{ form_label(form.newGuardian.lastName)}}
				{{ form_widget(form.newGuardian.lastName) }}
				<code>{{ form_errors(form.newGuardian.lastName) }}</code>
				{{ form_label(form.newGuardian.firstName)}}
				{{ form_widget(form.newGuardian.firstName) }}
				<code>{{ form_errors(form.newGuardian.firstName) }}</code>
				{{ form_label(form.newGuardian.email)}}
				{{ form_widget(form.newGuardian.email) }}
				<code>{{ form_errors(form.newGuardian.email) }}</code>
				{{ form_label(form.newGuardian.phoneNo)}}
				{{ form_widget(form.newGuardian.phoneNo) }}
				<code>{{ form_errors(form.newGuardian.phoneNo) }}</code>
				<code>{{ form_errors(form) }}</code>
			</div>
		{% endif %}

		{% if flow.getCurrentStepNumber() == 3 %}
			<div>
				<h3 class="kuraleFont">{{ form_label(form.addStudent) }}</h3>
				{% for f in form.addStudent %}
					{{ form_widget(f) }} {{ form_label(f) }} <br>
				{% endfor %}
			</div>
		{% endif %}

		{% if flow.getCurrentStepNumber() == 4 and flow.formData.addGuardian == true %}
			<div>
				<h3 class="kuraleFont">Adaugă cont elev pentru {{ flow.formData.newGuardian.getFullName(1) }}</h3>
				{{ form_row(form.newStudent) }}
			</div>
		{% endif %}

		{% if flow.getCurrentStepNumber() == 4 and flow.formData.addGuardian == false %}
			<div>
				{% if flow.formData.addStudent == true %}
					Adaugă cont elev pentru {{ flow.formData.guardian.getFullName(1) }} <br><br>
					{{ form_label(form.newStudent.lastName)}}
					{{ form_widget(form.newStudent.lastName) }}
					<code>{{ form_errors(form.newStudent.lastName) }}</code>
					{{ form_label(form.newStudent.firstName)}}
					{{ form_widget(form.newStudent.firstName) }}
					<code>{{ form_errors(form.newStudent.firstName) }}</code>
					<code>{{ form_errors(form) }}</code>
				{% else %}
					<h3 class="kuraleFont">Alegeți elevul:</h3>
					<br>
					{{ form_row(form.student) }}
				{% endif %}
			</div>
		{% endif %}

		{% if flow.getCurrentStepNumber() == 5 %}
			<div>
				<h3 class="kuraleFont">Alegeți anul școlar:</h3>
				<br>
				{% for f in form.schoolYear %}
					{{ form_widget(f) }} {{ form_label(f) }} <br>
				{% endfor %}
			</div>
		{% endif %}

		{% if flow.getCurrentStepNumber() == 6 %}
			<div>
				Alegeți unitatea școlară: <br><br>
				{% for f in form.schoolUnit %}
					{{ form_widget(f) }} {{ form_label(f) }} <br>
				{% endfor %}
			</div>
		{% endif %}

		{% if flow.getCurrentStepNumber() == 7 %}
			<div>
				Alegeți serviciul școlar <br><br>
				{% for f in form.schoolService %}
					{{ form_widget(f) }} {{ form_label(f) }} <br>
				{% endfor %}
			</div>
		{% endif %}

		{% if flow.getCurrentStepNumber() == 8 %}
			<div>
				<h3 class="coinyFont">Sumar Înscriere:</h3>
				<strong>Părinte: </strong>
				{% if flow.formData.newGuardian is not empty %}
					{{ flow.formData.newGuardian.getRoName }}
				{% else %}
					{{ flow.formData.guardian.getRoName }}
				{% endif %}
				<br>
				<strong>Elev: </strong>
				{% if flow.formData.newStudent is not empty %}
					{{ flow.formData.newStudent.getRoName }}
				{% else %}
					{{ flow.formData.student.getRoName }}
				{% endif %}
				<code class="kuraleFont">{{ form_errors(form) }}</code>
				<hr>
				<table>
					<tbody>
						<tr>
							<td>An școlar: </td>
							<td>{{ flow.formData.schoolYear.getYearname }}</td>
						</tr>
						<tr>
							<td>Unitate școlară: </td>
							<td>{{ flow.formData.schoolUnit.getUnitname }}</td>
						</tr>
						<tr>
							<td>Serviciu: </td>
							<td>{{ flow.formData.schoolService.getServicename }}</td>
						</tr>
						<tr>
							<td>Preț:</td>
							<td>{{ flow.formData.schoolService.getServiceprice|localizedcurrency('RON') }}</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<strong>Termeni și condiții:</strong>
				<br>
				<code>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
					velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
					sunt in culpa qui officia deserunt mollit anim id est laborum.</code>
				{{ form_row(form.enrollment) }}
			</div>
		{% endif %}
		{{ form_rest(form) }}
		<br>
	</div>
	<div class="col-hidden col-md-4">
		<strong>Pași:</strong>
		{% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
	</div>
	<div class="col-12 col-md-8">
		{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
			craue_formflow_button_class_back: 'btn-sm btn-primary form_button_margin',
			craue_formflow_button_class_next: 'btn-sm btn-success form_button_margin',
			craue_formflow_button_class_finish: 'btn-sm btn-success form_button_margin',
			craue_formflow_button_class_reset: 'btn-sm btn-warning form_button_margin',
			craue_formflow_button_label_back: 'Pas Anterior',
			craue_formflow_button_label_next: 'Pas Următor',
			craue_formflow_button_label_finish: 'Salvează',
			craue_formflow_button_label_reset: 'Resetează',
		} %}
	{{ form_end(form) }}
	</div>
	</div>

</div>

{% endblock %}
