{% extends 'base.nav.html.twig' %}

{% block title %}Administrare {{ role }}{% endblock %}

{% block body %}
  <h2 class="coinyFont">Administrare {{ role }}</h2>
  <br>
  {% if users %}
    <table id="users" class="table table-striped table-hover">

      <thead id="users_table_head">
        <tr>
          <th>Nume, Prenume</th>
          <th>Detalii </th>
          <th>
            {% if role == 'Elevi' %}
              Clasă
            {% else %}
              E-mail
            {% endif %}
          </th>
          <th>Nivel Acces</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="users_table">
        {% set index = 0 %}
        {% for user in users %}
          {# DO NOT display root user if imported from fixtures (useful for prod)#}
          {% if user.getUsername != "root" %}
          <tr id="users_row">
            <td><a href="{{ path('user_show', {'id':user.id}) }}"><i class="fas fa-eye"></i>&nbsp{{ user.getRoName }}</a></td>
            <td>
              {% if user.getUsertype == 'ROLE_PUPIL' %}
                {% if user.getGuardian is not null %}
                  Părinte: {{ user.getGuardian.getUser.getRoName }}
                {% else %}
                  NU EXISTĂ PĂRINTE!
                {% endif %}
              {% elseif user.getUsertype == 'ROLE_PARENT' %}
                {{ user.getGuardianacc.getChildren|length }} Copii
              {% else %}
                -
              {% endif %}
            </td>
            {% if user.getUsertype == 'ROLE_PARENT' %}
            <td><a href="#"><i class="far fa-envelope reset-user" data-id="{{ user.id }}" style="font-size:25px"></i></a> {{ user.email }}</td>
            {% elseif user.getUsertype == 'ROLE_PUPIL' %}
            <td>{{ user.getChildLatestEnroll.getStudent.getClassGroup.getGroupName|default('-') }}</td>
            {% else %}
            <td>{{ user.email }}</td>
            {% endif %}
            <td>
              {{ user.getNormalized }}
              {% if user.getUsertype == 'ROLE_CUSTOM' %}

                <!-- Button to Open the Modal -->
                <button class="btn-warning" type="button" data-toggle="modal" data-target="#permissionModal-{{ user.id }}">
                  <i class="fas fa-lock"></i>
                </button>

                <!-- The Modal for Permissions START -->
                <div class="modal fade" id="permissionModal-{{ user.id }}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      {{ form_start(forms[index]) }}
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Modifică Permisiunile</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        <code><small>{{ form_errors(forms[index]) }}</small></code>
                        {% for p in forms[index].accountPermissions %}
                          {{ form_widget(p) }}{{ form_label(p) }} <br>
                        {% endfor %}
                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-success test">Salvează</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Renunță</button>
                      </div>
                      {{ form_end(forms[index]) }}

                    </div>
                  </div>
                </div>
                <!-- The Modal for Permissions END -->
                {% set index = index + 1 %}
              {% endif %}
            </td>
            <td>
              <a href="{{ path('user_edit', {'id':user.id}) }}"><button type="button" class="btn-sm btn-primary">Editează</button></a>
              {# if app.user.username != user.username and user.usertype != 'ROLE_PUPIL' and user.usertype != 'ROLE_PARENT' #}
              {% if app.user.username != user.username %}
                <a href="#"><button type="button" class="btn-sm btn-danger delete-user" data-id="{{ user.id }}">Șterge</button></a>
              {% endif %}
            </td>
          </tr>
          {% endif %}
        {% endfor %}

      </tbody>

    </table>
  {% else %}
    <p>No users found in DB</p>
  {% endif %}

{% endblock %}

{% block javascripts %}
  <script src="/js/user_reset.js"></script>
  <script src="/js/user_delete.js"></script>
  <script>
    ScrollReveal({ reset: true }).reveal('#users', { duration:2000, delay:0 });
    ScrollReveal({ reset: true }).reveal('#users_table_head', { duration:800, delay:0 });
    ScrollReveal({ reset: true }).reveal('#users_row', { duration:1000, delay:0 });
    $('[id^="permissionModal"]').appendTo("body");
  </script>
{% endblock %}
