{% extends 'base.nav.html.twig' %}

{% block title %}Date pentru: {{ user.username }}{% endblock %}

{% block body %}
  <h1>{{ user.username }}</h1>
  <p>E-mail: {{ user.email }}</p>
  <p>Type: {{ user.usertype }}</p>
  <br>
  <br>
  <a href="{{ path('users') }}"><button type="button" class="btn btn-primary">Back...</button></a>
{% endblock %}
